@model IEnumerable<Exercicios.Models.ListarLocalizacaoEmpresaViewModel>

@{
    ViewData["Title"] = "Index da Página de Localizacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Localizacoes</h1>

<p>
    <a asp-action="Create">Novo Registro</a>
</p>



<div>
    <h4>ListarLocalizacaoEmpresaViewModel</h4>
    <hr />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logradouro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UF)
            </th>
            <th>
                Detalhes da Empresa
            </th>
            <th>
                Status
            </th>
        </tr>
        <tbody>
            @foreach (var localizacaoModel in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => localizacaoModel.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(model => localizacaoModel.Logradouro)
                    </td>
                    <td>
                        @Html.DisplayFor(model => localizacaoModel.Bairro)
                    </td>
                    <td>
                        @Html.DisplayFor(model => localizacaoModel.Cidade)
                    </td>
                    <td>
                        @Html.DisplayFor(model => localizacaoModel.UF)
                    </td>
                    <td>
                        @Html.DisplayFor(model => localizacaoModel.DescricaoEmpresa)
                       
                    </td>
                   <td>
                        @Html.DisplayFor(model => localizacaoModel.Ativo)
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<br />