@model IEnumerable<Exercicios.Models.ListarCardapioEmpresaViewModel>

@{
    ViewData["Title"] = "Index da Página de Cardapio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cardapios</h1>

<p>
    <a asp-action="Create">Novo Registro</a>
</p>
<div>
    <h4>ListarLocalizacaoEmpresaViewModel</h4>
    <hr />
    <table class="table table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                Detalhes da Empresa
            </th>
            <th>
                Ações
            </th>
        </tr>
        <tbody>
            @foreach (var cardapioModel in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => cardapioModel.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(model => cardapioModel.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(model => cardapioModel.Valor)
                    </td>

                    <td>
                        @Html.DisplayFor(model => cardapioModel.Ativo)
                    </td>
                    <td>
                        @Html.DisplayFor(model => cardapioModel.DescricaoEmpresa)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", 
                                            "Edit", 
                                            "Cardapio", 
                                            new { id = @cardapioModel.Id}, 
                                            new { @class="btn btn-primary " } )
                        @Html.ActionLink("Deletar", 
                                            "Delete", 
                                            "Cardapio", 
                                            new { id = @cardapioModel.Id, descricao = @cardapioModel.Descricao }, 
                                            new { @class="btn btn-danger " } )
                    </td>
                </tr>
            }
        </tbody>
</table>
</div>